html {
  height: 100%;
  overflow: hidden;
  background-color: black;
}

input, a, p, h1, h2, h3, select, option {
  color: #FFE81F;
}

input, select, option {
  background-color: black;
}

input {
  margin-bottom: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: transparent;
  color: yellow;
  vertical-align: middle;
}

#root {
  height: 100%;
}

#app {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scene{
  z-index: -999;
  display: inline-block;
  perspective: 5px;
  position: relative;
  left:50%;
  top: 50%;
}

.wrap{
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards;
  
}

.wrap:nth-child(2){
  animation: move 12s infinite linear;
  animation-delay: 6s;
}

.wall {
  background:url('background.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  animation: fade 12s infinite linear;
  animation-delay: 0;
}

.wrap:nth-child(2) .wall {
  animation-delay: 6s;
}

.wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
  transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
  0%{
    transform: translateZ(-200px) rotate(0deg);
  }
  100%{
    transform: translateZ(200px) rotate(0deg);
  }
}